#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_ILOCK
	bool "iLock application example"
	default n
	---help---
		Enable the iLock application example

if EXAMPLES_ILOCK

config EXAMPLES_ILOCK_DEFPRIO
	int "Waiter Thread Priority"
	default 100
	---help---
		Priority of "waiter" thread.  Default: 50

config EXAMPLES_ILOCK_STACKSIZE
	int "Waiter Thread Stack Size"
	default 2048
	---help---
		Stacksize of "waiter" thread. Default 1024
		
config DEBUG_ILOCK
	bool "iLock Debug Output"
	default y
	---help---
		Enable iLock debug SYSLOG output (disabled by default)		

endif
