#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_ILOCK_STM32F407

config EPASS3003_DEVNAME
	string "Epass3003 Device Name"
	default "/dev/epass3003a"
	---help---
		Name of epass3003 device to be used. Default: "/dev/epass3003a"
		
config SDCARD_MAPPED_PATH
	string "Mapped path of sdcard "
	default "/mnt/sd"
	---help---
		Mapped path of sdcard to be used. Default: "/mnt/sd"
		
config MAGNET_LX_DEVNAME
	string "MAGNET LX Device Name"
	default "/dev/magnetlx"
	---help---
		Name of tim device to be used. Default: "/dev/magnetlx"		

config ADC1_DEVNAME
	string "SHOCK RESISTOR SENSOR ADC Device Name"
	default "/dev/adc1"
	---help---
		Name of adc device to be used. Default: "/dev/adc0"		

config ADC2_DEVNAME
	string "PHOTO RESISTOR SENSOR ADC Device Name"
	default "/dev/adc2"
	---help---
		Name of adc device to be used. Default: "/dev/adc1"		

config ADC3_DEVNAME
	string "INFRA-RED SENSOR ADC Device Name"
	default "/dev/adc3"
	---help---
		Name of adc device to be used. Default: "/dev/adc2"		
		
config LED1_BLUE_DEVNAME
	string "LED1 BLUE PIN Device Name"
	default "/dev/led1b"
	---help---
		Name of gpio device to be used. Default: "/dev/led1b"		

config LED1_GREEN_DEVNAME
	string "LED1 GREEN PIN Device Name"
	default "/dev/led1g"
	---help---
		Name of gpio device to be used. Default: "/dev/led1g"		

config LED1_RED_DEVNAME
	string "LED1 RED PIN Device Name"
	default "/dev/led1r"
	---help---
		Name of gpio device to be used. Default: "/dev/led1r"		

config LED2_BLUE_DEVNAME
	string "LED2 BLUE PIN Device Name"
	default "/dev/led2b"
	---help---
		Name of gpio device to be used. Default: "/dev/led2b"		

config LED2_GREEN_DEVNAME
	string "LED2 GREEN PIN Device Name"
	default "/dev/led2g"
	---help---
		Name of gpio device to be used. Default: "/dev/led2g"		

config LED2_RED_DEVNAME
	string "LED2 RED PIN Device Name"
	default "/dev/led2r"
	---help---
		Name of gpio device to be used. Default: "/dev/led2r"		

config LED3_BLUE_DEVNAME
	string "LED3 BLUE PIN Device Name"
	default "/dev/led3b"
	---help---
		Name of gpio device to be used. Default: "/dev/led3b"		

config LED3_GREEN_DEVNAME
	string "LED3 GREEN PIN Device Name"
	default "/dev/led3g"
	---help---
		Name of gpio device to be used. Default: "/dev/led3g"		

config LED3_RED_DEVNAME
	string "LED3 RED PIN Device Name"
	default "/dev/led3r"
	---help---
		Name of gpio device to be used. Default: "/dev/led3r"		

config MAGNET_VCC_DEVNAME
	string "MAGNET VCC PIN Device Name"
	default "/dev/magnetvcc"
	---help---
		Name of gpio device to be used. Default: "/dev/magnetvcc"		

config MAGNET_GND_DEVNAME
	string "MAGNET GND PIN Device Name"
	default "/dev/magnetgnd"
	---help---
		Name of gpio device to be used. Default: "/dev/magnetgnd"		
		
config BUZZER_DEVNAME
	string "BUZZER PIN Device Name"
	default "/dev/buzzer"
	---help---
		Name of gpio device to be used. Default: "/dev/buzzer"		

config CLOSE_SW_DEVNAME
	string "CLOSE_SW PIN Device Name"
	default "/dev/closesw"
	---help---
		Name of gpio device to be used. Default: "/dev/closesw"		

config KEYPAD_DEVNAME
	string "Keypad Device Name"
	default "/dev/keypad"
	---help---
		Name of keypad device to be used. Default: "/dev/keypad"		
				
endif
