#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_ILOCK_STM32F407

config EPASS3003_DEVNAME
	string "Epass3003 Device Name"
	default "/dev/epass3003a"
	---help---
		Name of epass3003 device to be used. Default: "/dev/epass3003a"
		
config SDCARD_MAPPED_PATH
	string "Mapped path of sdcard "
	default "/mnt/sd"
	---help---
		Mapped path of sdcard to be used. Default: "/mnt/sd"
		
config ADC1_DEVNAME
	string "SHOCK RESISTOR SENSOR ADC Device Name"
	default "/dev/adc1"
	---help---
		Name of adc device to be used. Default: "/dev/adc0"		

config ADC2_DEVNAME
	string "PHOTO RESISTOR SENSOR ADC Device Name"
	default "/dev/adc2"
	---help---
		Name of adc device to be used. Default: "/dev/adc1"		

config ADC3_DEVNAME
	string "INFRA-RED SENSOR ADC Device Name"
	default "/dev/adc3"
	---help---
		Name of adc device to be used. Default: "/dev/adc2"		
		
config LED1_DEVNAME
	string "LED1 Device Name"
	default "/dev/led1"
	---help---
		Name of led device to be used. Default: "/dev/led1"		

config LED2_DEVNAME
	string "LED2 Device Name"
	default "/dev/led2"
	---help---
		Name of led device to be used. Default: "/dev/led2"		

config LED3_DEVNAME
	string "LED3 Device Name"
	default "/dev/led3"
	---help---
		Name of led device to be used. Default: "/dev/led3"		

config IP_CONFLICT_DEVNAME
	string "IP conflict check Device Name"
	default "/dev/ipconflict"
	---help---
		Name of IP conflict check device to be used. Default: "/dev/ipconflict"		

config MAGNET_VCC_DEVNAME
	string "MAGNET VCC PIN Device Name"
	default "/dev/magnetvcc"
	---help---
		Name of gpio device to be used. Default: "/dev/magnetvcc"		

config BUZZER_DEVNAME
	string "BUZZER PIN Device Name"
	default "/dev/buzzer"
	---help---
		Name of gpio device to be used. Default: "/dev/buzzer"		

config CLOSE_SW_DEVNAME
	string "CLOSE_SW PIN Device Name"
	default "/dev/closesw"
	---help---
		Name of gpio device to be used. Default: "/dev/closesw"		

config KEYPAD_DEVNAME
	string "Keypad Device Name"
	default "/dev/keypad"
	---help---
		Name of keypad device to be used. Default: "/dev/keypad"		
		
config SAFE_MODE_FLAG_PATH
	string "Path of safe mode flag"
	default "/mnt/sd/safemode"
	---help---
		Path of safe mode flag to be used. Default: "/mnt/sd/safemode"		

config UPDATE_FM_FLAG_PATH
	string "Path of update firmware flag"
	default "/mnt/sd/updatefm"
	---help---
		Path of update firmware flag to be used. Default: "/mnt/sd/updatefm"		
				
endif
